*{
    margin: 0;
    padding: 0;
}
header
{
    background-image: linear-gradient(aquamarine, rgb(151, 196, 230),rgb(121, 147, 204) );
    width: 100%;
    height: 20%;
}
main
{
    background-color: rgb(4, 254, 171);
    width: 100%;
    height: 20%;
}
section
{
    background-color: rgb(228, 249, 242);
    width: 100%;
    height: 30%;
}
.A
{
    background-color: blueviolet;
    height: 100%;
    width: 70%;
    float: left;
}
.B
{
    background-image: radial-gradient(rgb(223, 190, 254), rgb(226, 37, 226));
    height: 100%;
    width: 30%;
    float: right;
}
footer
{
    background-color: green;
    height: 100%;
    right: 100%;
}